@model Survey_Feedback_App.Core.Application.DTOs.ResponseDTO.DashboardViewModel

@{
    Layout = "_Layout1";
}
@{
    Layout = "_Layout1";
}

<h3 class="i-name" class="mystyle">Dashboard</h3>
<div class="values">
    <div class="val-box">
        <i class="fa fa-book"></i>
        <div>
            <h3>@Model.SurveyCount</h3>
            <span>No of Surveys Created</span>
        </div>
    </div>
    <!--==========box 2=============-->
    <div class="val-box">
        <i class="fa fa-handshake-o"></i>
        <div>
            <h3>@Model.ResponseCount</h3>
            <span>No of Feedbacks</span>
        </div>
    </div>
    <!--==========box 3=============-->
    <div class="val-box">
        <i class="fa fa-bars"></i>
        <div>
            <h3>Survey Analysis</h3>
            <span>Interactive Charts Below</span>
        </div>
    </div>
</div>
<div>
    <img src="~/Template/images/appimg.png" alt="Dashboard Image" class="dashboard-img">
</div>

<style>
    .dashboard-img {
        width: 100%;
        height: 5%;     
    }
    .mystyle{
        padding-top: 20px;
        margin-top: 40px;
    }
</style>
