@{
    Layout = "_Layout1";
}
<!DOCTYPE html>
    <html>
    <head>
        <title>User DashBoard</title>
    <link rel="stylesheet" href="~/Template/css/bk.css">
</head>
    <body >
    <div id="bk">
        
    </div>
    </body>
    </html>
